<!DOCTYPE html>
<html>
<head>
    <title>hand writing number recognition</title>
    <style>
        /* scroll event control */
        body { overflow: hidden; }
        body * { touch-action: none; }
        canvas {
            border: 1px solid black;
        }
    </style>
    
</head>
<body>
    <h1>hand writing number recognition</h1>
    <canvas id="canvas" width="280" height="280"></canvas>
    <br>
    <button onclick="clearCanvas()">erase</button>
    <button onclick="sendCanvasData()">send</button>
    <div>result : <span id="number-display">-</span></div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        var canvas = document.getElementById('canvas');
        var context = canvas.getContext('2d');
        var isDrawing = false;
        context.lineWidth = 3;

        // 캔버스 초기화
        function clearCanvas() {
            context.clearRect(0, 0, canvas.width, canvas.height);
        }

        // 캔버스 이벤트 핸들러
        canvas.addEventListener('mousedown', function (e) {
            isDrawing = true;
            context.beginPath();
            context.moveTo(e.clientX - canvas.getBoundingClientRect().left, e.clientY - canvas.getBoundingClientRect().top);
        });

        canvas.addEventListener('mousemove', function (e) {
            if (!isDrawing) return;
            context.lineTo(e.clientX - canvas.getBoundingClientRect().left, e.clientY - canvas.getBoundingClientRect().top);
            context.stroke();
        });

        canvas.addEventListener('mouseup', function () {
            isDrawing = false;
            sendCanvasData()
        });

        // touch event added
        // 터치 시작 이벤트 핸들러
        canvas.addEventListener('touchstart', function (e) {
            isDrawing = true;
            var touch = e.touches[0]; // 첫 번째 터치 지점을 사용
            context.beginPath();
            context.moveTo(touch.clientX - canvas.getBoundingClientRect().left, touch.clientY - canvas.getBoundingClientRect().top);
        });

        // 터치 이동 이벤트 핸들러
        canvas.addEventListener('touchmove', function (e) {
            if (!isDrawing) return;
            var touch = e.touches[0]; // 첫 번째 터치 지점을 사용
            context.lineTo(touch.clientX - canvas.getBoundingClientRect().left, touch.clientY - canvas.getBoundingClientRect().top);
            context.stroke();
        });

        // 터치 종료 이벤트 핸들러
        canvas.addEventListener('touchend', function () {
            isDrawing = false;
            sendCanvasData();
        });

        // 캔버스 데이터 전송
        function sendCanvasData() {
            var imageData = context.getImageData(0, 0, canvas.width, canvas.height).data;
            var canvas_data = [];
            var sessionId = socket.id;
            for (var i = 0; i < imageData.length; i += 4) {
                var pixelValue = imageData[i+3]
                canvas_data.push(pixelValue);

            }
            socket.emit('canvas_data', {canvas_data: canvas_data, sessionId: sessionId});
            console.log(canvas_data);
        }

        // 서버로부터 숫자 수신
        socket.on('number', function (data) {
            document.getElementById('number-display').textContent = data.number;
        });
    </script>
</html>
